PORT=3000
NODE_ENV=development

MONGODB_URI=STRING_DE_CONEXAO_MONGODB

ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@central.local
ADMIN_PASSWORD=SENHA_ADMIN

USER_NAME=Usuario Teste
USER_EMAIL=usuario@central.local
USER_PASSWORD=SENHA_USUARIO