<header class="navbar">
  <div class="navbar__content">
    <a class="navbar__brand" href="/">
      Central de Chamados Internos
    </a>

    <nav>
      <a href="/">Início</a>
    </nav>
  </div>
</header>